.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.product-detail-area {
  display: flex;
  margin-top: 50px;
}

.product-detail-logo {
  flex-grow: 1;
  height: 50vmin;
  width: 50vmin;
}

.product-detail-controls {
  flex-grow: 2;
  margin-left: 20px;
}
